// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.about-page {

  margin-top: 3rem;
  margin-bottom: 3rem;

  h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}