.sign-up-form {
  display: grid;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.login-form {
  display: grid;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.form-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}